body { 
    background-color: darkgoldenrod
    ; text-align: left;
}

    p { 
        color: rgb(87, 48, 20);
    }

    .lakers { 
        font-style: italic;
        color: honeydew ;
    }

