body { 
    background-color: darkgoldenrod
    ; text-align: left;
}

    p { 
        color: rgb(87, 48, 20);
    }

    .lakers { 
        font-style: italic;
        color: honeydew ;
        font-size: large;
        padding: 15%;
    }
    header {
        border: indigo;
        padding: 20px;
        font-size: 20px;
        text-decoration: none;
    }
    

