body { 
    background-color: darkgoldenrod
    ; text-align: left;
    margin: 0px;
    font-family: "chakra Petch", sans-serif;  
    }

    h1 { 
        color: rgb(87, 48, 20);
    }

    .lakers { 
        font-style: italic;
        color: honeydew ;
        font-size: large;
        padding: 15%;
    }
    header {
        border: indigo;
        padding: 20px;
        font-size: 20px;
        text-decoration: none;
        color: goldenrod;
    }
    section {
        display: block;
        unicode-bidi: isolate;
    }
    .imgl {
        width: 50%;
    }
    p   {
        font-size: 30%;
    }
    .categoria-videos {
        display: flex;
    }

